#main-container {
  display: flex;
  align-items: flex-start;
  gap: 40;
}

#left {
  width: 60;
}

#gameplay {
  width: 40;
}

div.container {
          display:inline-block;
        }
#home{
  float="left";
}
  
div.overhead{
          display:inline-block;
  float="center";

        }
