#main-container {
  display: flex;
  align-items: flex-start;
  gap: "60px";
}

#left {
  width: "60%";
}

#gameplay {
  width: "40%";
}

div.container {
  float="left"
}

div.overhead{
        position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
        }
div.overhead img {
  display: block;
}
#logo {
  position: absolute;
  left: "50%";
  transform: "translateX(-50%)";
}
#gametxt{
font-size: 1.2 rem;}
#artxt{
font-size: 1.2 rem;}
#musictxt{
font-size: 1.2 rem;}
#storytxt{
font-size: 1.2 rem;}

p{
}
