#main-container {
  display: flex;
  align-items: flex-start;
  gap: 60;
}

#left {
  width: 60 %;
}

#gameplay {
  width: 40 %;
}

div.container {
  float="left"
}

div.overhead{
          display:inline-block;
        }
#home{
  float="left"
}
#logo{
  float="center"
}
#mc{
  float="right"
}
#gametxt{
font-size: 1.2 rem;}
#artxt{
font-size: 1.2 rem;}
#musictxt{
font-size: 1.2 rem;}
#storytxt{
font-size: 1.2 rem;}

p{
}
