#main-container {
  display: flex;
  align-items: flex-start;
  gap: 60;
}

#left {
  width: 60 %;
}

#gameplay {
  width: 40 %;
}

div.container {
  float="left"
}

div.overhead{
         display: flex;
  align-items: center;      
  justify-content: space-between; 
  padding: 10px 20px;
        }
div.overhead img {
  display: block;
}
#gametxt{
font-size: 1.2 rem;}
#artxt{
font-size: 1.2 rem;}
#musictxt{
font-size: 1.2 rem;}
#storytxt{
font-size: 1.2 rem;}

p{
}
