#main-container {
  display: flex;
  align-items: flex-start;
  gap: 40 px;
}

#left {
  width: 60 %;
}

#gameplay {
  width: 40 %;
}

div.container {
  float="left"
}

div.overhead{
          display:inline-block;
        }
