#overlay{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0,0,0,0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999999;
}
#overlay img{
  width: 800px;
}
.textbox {
  display: inline-block; 
  background-image: url("abstract-background-design-hd-light-turkish-red-color_851755-114457.avif
.png");
  background-size: cover;       
  background-position: center;   
  outline: thick double #FF0000;
  padding: 10px;
  box-sizing: border-box;
}
