#main-container {
  display: flex;
  align-items: flex-start;
  gap: 40 px;
}

#left {
  width: 60 %;
}

#gameplay {
  width: 40 %;
}
div.list_liens{
  float: right;
}
div.listandmain{
  display:inline-block;
}
div.images{
  float:left;
}
