
div.listandmain {
  display: flex;
  flex-direction: row;        
  justify-content: space-around;
  align-items: flex-start;   
  gap: 20;
  padding: 20;
}
#next{
  display:inline-block;
}
body{
  background-image: url("image.webp");
}
