#main-container {
  display: flex;
  align-items: flex-start;
  gap: 40 px;
}

#left {
  width: 60 %;
}

#gameplay {
  width: 40 %;
}
div.list_liens{
  float: right;
}
div.listandmain{
  display:inline-block;
}
div.images{
  float:left;
}
div.listandmain {
  display: flex;
  flex-direction: row;        /* align elements side by side */
  justify-content: space-around;
  align-items: flex-start;    /* align items at the top */
  gap: 20;
  padding: 20;
}
