
div.listandmain {
  display: flex;
  flex-direction: row;        
  justify-content: space-around;
  align-items: flex-start;   
  gap: 60;
  padding: 20;
}
#next{
  display:inline-block;
}
body{
  background-image: url("sr26302fac93eaws3.png");
}
.textbox {
  display: inline-block; 
  background-image: url("FAB6C5_1200x.png");
  background-size: cover;       
  background-position: center;   
  outline: thick double;
}
